/*------ fuente titulo ------*/
@font-face {
    font-family:"Raleway";
    src: url(../fuentes/Raleway-Regular.ttf);
}

/*------ fuente cuerpo ------*/
@font-face {
    font-family:"Catamaran";
    src: url(../fuentes/Catamaran-Regular.ttf);
}

@font-face {
    font-family:"Catamaran";
    font-weight:bold;
    src: url(../fuentes/Catamaran-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
    margin: 0;
}

/*-------------------estilos base----------------------------------------*/
img {
    display:block;
    width: 100%;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.container--flex {
    display: flex;
    flex-wrap: wrap; /*para que los elementos que no entren se vayan hacia abajo*/
    justify-content: space-between; /*alinear en el eje horizontal*/
    align-items: center; /*alinear en el eje vertical*/
}

.column {
    width: 100%;
}

/*-------------------estilos header----------------------------------------*/
.main-header {
    width: 100%;
}

.imglogo {
    display: none;
    margin: auto;
}

.imgname {
    margin: auto;
    width: 100%;
}

.main-header__contactInfo__phone {
    background: #0B0B3B;
    color: white;
    margin: auto;
     /*reduce el grosos de la letra*/
    text-align: center;
}

.main-header__contactInfo__addres {
    margin: auto;
    font-weight: 0;
    text-align: center;
    color: black;
}

.infoContact-phone {
    color: white;
}

.infoContact-location {
    color: black;
}

.infoContact-phone:visited {
    color: white;
}

.infoContact-location:visited {
    color: black;
}

.main-header [class*="infoContact-"] {
    text-decoration: none;
    font-size: 13px;
}

.main-header [class*="infoContact-"]:hover {
    border-radius: 5px;
    background: rgb(251, 191, 0);
    color: #0B0B3B;
}

/*para que el icono de telefono y ubicacion se separen del texto*/
.main-header [class*="icon-"]:before { /*en la clase main-header selecciono todas las clases que tengan icon- */
    position: relative;
    top:3px;
    /*right: 3px;*/
}

/*-------------------estilos menu----------------------------------------*/
.main-nav {
    width: 100%;
    background: #0B0B3B;
    position: relative;
    z-index: 20000;
    padding: 10px;
}

.icon-menu {
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 35px;
    height: 35px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}

.social-icon { /* ubicacion de los iconos de las redes sociales*/
    display: flex;
    justify-content: space-between;
}

.social-icon [class*="icon-"] {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}

.social-icon__link {
    text-decoration: none;
}

.menu {
    position: absolute;
    top: 55px;
    left: 0;
    width: 90%;
    background: rgba(11, 11, 59, 0.5);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0; /*para que el menu se oculte y aparezca al dar click se aplican estos estilos y se usa JS para programar el menu*/
    overflow: hidden; /*_________|*/
    transition: height .3s linear;/*para animar cuando hay algun cambio de propiedad, va de la mano con la funcion mostrar de JS, clase .mostrar y las dos propiedades anteriores*/
}

.mostrar{
    height: 357px;/*esta altura no puede ser auto, si no el menu no se muestra con animacion de transition solo aparece y desaparece*/
}

.menu__link {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    /*background: #0B0B3B;*/
    background: rgba(11, 11, 59, 0.80);
}

.menu__link:hover {
    /*background: #DE423A;*/
    border-radius: 8px;
    color: black;
    background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 25%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
}

.menu__link--select {
    /*background: #DE423A;*/
    border-radius: 12px;
    color: black;
    background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 25%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
}

/*-------------------estilos del banner----------------------------------------*/
.banner {
    margin-top: -55px;
    position: relative;/*el banner siempre debe llevar esta propiedad*/
}

.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    top: 0;
}

.banner__img { /* modifico la imagen en tamaño de alto y con object-fit genero que la imagen se muestre bien y desde el centro*/
    width: 100%;
    height: 200px;
    object-fit:cover;
}

.banner__content {
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); /* me centra el texto que esta con position: absolute dentro del banner*/
    font-size:  1.5em;
    font-weight: bold;
}

/*-------------------estilos principales----------------------------------------*/
.group--color .container, .img-en {
   /* background: #DE423A;*/
    background: #0B0B3B;
    color: white;
    padding: 10px;
    text-align: center;
}

.main__title {
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.main__txt {
    padding: 5px;
}

.column__title {
    font-size: 1.3em;
}

.main__about__description .column:nth-child(2){ /* con nth-child(2) selecciona la segunda clase .column de la clase .main__about__description ya que en esta hay dos contenedores con la clase column*/
    padding: 5px;
}

.column--30 {
    width: 75%;
    margin: auto;
}

.column--100 {
    width: 100%;
    margin: 15px 0;
}

.img-en{
    width: 100%;
    margin: 15px 0;
}

.info-img {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.group__title, .group__title-o{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.8em;
    margin: 25px;
}

.group__title-o {
    margin-top: 25px;
    margin-left: 8px;
    margin-right: 8px;
}

.img-special .column {
    margin-bottom: 30px;
    text-align: center;
}

.img-titulos {
    margin: auto;
    max-width: 350px;
}

.title-img {
    font-size: 1.4em;
    color: #DE423A;
    font-weight: bold;
}

.container--form{
    width: 100%;
}

/***************** formulario ********/
.form-consulta {
    display: block;
    margin: auto;
    max-width: 500px; 
    background: #eee; 
    padding: 25px; 
    font-family: 'Source Sans Pro', sans-serif;
}

label span {
    color: #f00;
}

.campo-form {
    width:100%; 
    height:36px; 
    margin:2px 0 6px; 
    padding-left:6px; 
    box-sizing: border-box; 
    border-radius:3px; 
    border:0; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size:1em;
}

textarea {
    resize: none;
    max-height: 200px!important;
    min-height: 150px!important;
}

.btn { /*modifica y centra el boton de contact*/
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    width: 90px;
    background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 25%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    color: rgba(11, 11, 59);
    border-radius: 15px;
    padding: 5px;
    margin: 5px auto;
}

.btn:hover {
    background: #444;
    color: white;
}

/***************** noticias ********/

.container--noti {
    margin-top: 10px;
    margin-bottom: 10px;
}

.noti-txt{
    text-align: center;
}

.column--float{
    float: none;
    width: 70%;
    margin: 0 auto;
}

.origin {
    font-weight: bold;
}

/*-------------------estilos footer----------------------------------------*/

.main--footer {
    background: #222;
    color: white;
    padding:  10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}

.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.main--footer .container--flex {
    text-align:center;
    margin: auto;
    margin-top: 15px;
}

.main--footer [class*="icon-"] {
    color: white;
    text-decoration: none;
}

.main--footer [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}

/*-------------------estilos contenido----------------------------------------*/

.column--30-q {
    width: 100%;
    margin-top: 2px;
    border-style: groove;
    border-color:azure;
    
}

.column--70-q {
    width: 100%;
    margin-bottom: 1px;
    padding: 5px;
    border-style: groove;
    border-color:azure;
    background: rgba(251, 191, 0, 0.1);
}

.column--30-v {
    display: none;
}

.column--70-n {
    display: none;
}

.text__title {
    font-size: 1.3em;
    text-align: center;
}

.text__txt {
    text-align: justify;
}

/* Control del iframe (mapas) para que sea responsivo */
.maps {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.maps iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-------------------estilos responsive----------------------------------------*/

@media screen and (min-width:480px) {
    .imglogo {
        display: block;
        width: 55%;
    }
    
    .imgname {
        width: 100%;
    }
    
    .main-header__contactInfo__phone {
        background: none;
        text-align: left;
    }
    
    .main-header__contactInfo__addres {
        color: white;
        text-align: left;
    }
    
    
    .main-header [class*="infoContact-"] {
        color: white;
    }
    /*.infoContact-location {
    color: white;
    }*/
    
    .infoContact-location:visited {
        color:white;
    }
    
    .main-nav {
       /* background: rgba(0,0,0,0.85);*/
        background: #0B0B3B;
    }
    
    .menu {
        width: 50%;
    }
    
    .banner__img {
        height: 270px;
    }

    .banner__content {
        top: 87%;
    }
    
    .column--30 {
        width: 28%
    }
    
    .column--70 {
        width: 68%
    }
    
    .banner {
        margin-top: -195px;
        z-index: -1000;
    }
    
    .column--50-25 {
        width: 48%;
    }
    
    .column--33 {
    width: 32%;
    }
    
    .main__about__description .column:nth-child(2){
        padding: 20px;
        font-size: .9em;
    }
    
    .group__title-o {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    
    .group__title {
        margin-top: 5px;
        margin-bottom: 30px;
    }
    
    /*.main__about__description .btn {
        margin: 0;
    }*/
    
    .img-special .column {
        border: 5px solid #ddd;
        padding: 5px;
    }
    
    .img-titulos {
        height: 210px;
        object-fit:contain; /*para que la imagen no se deforme al darle un tamaño como height y sigan centradas*/
        padding: 5px;
    }
    
    .img-en{
        margin-top: 25px;
    }
    
    .info-img {
        width: 70%;
    }

    .column--float{
        width: 40%;
        margin: 0 auto;
    }
}

@media screen and (min-width:692px) {
    .imglogo {
        width: 45%;
    }
    
    .main-header__contactInfo__phone {
        text-align: right;
    }
    
    .main-header__contactInfo__addres {
        text-align: right;
    }
    
    .main-header [class*="infoContact-"] {
        font-size: 17px;
    }
    
    .column--30 {
        width: 18%
    }
    .info-img {
        width: 55%;
    }
    
    .container--noti {
        margin-left: 10px;
        margin-right: 10px;
        border-style: groove;
        border-color:rgba(240, 240, 178, 0.3);
        background: rgba(251, 191, 0, 0.1);
    }
    
    .column--float{
        float: left;
        width: 30%;
        margin: 10px;
    }
}

@media screen and (min-width:768px) {
    .imglogo {
        width: 45%;
    }
    
    .menu {
        width: 35%;
    }
    
    .main__title {
        font-size: 2em;
    }
    
    /*.main__about__description {
        margin-top: 30px;
    }*/
    
    /*.main__about__description .column--30:nth-child(2) {
        font-size: 1em;
        
    }*/
    
    /*.main__about__description .column--30:nth-child(2) .column__txt {
        line-height: 40px;
        text-align:justify;
    }*/
    
    .group__title{
        margin-top: 0px;
        margin-bottom: 30px;
    }
    
    .column__txt {
        line-height: 40px;
        text-align:justify;
    }
    
    .main__about__description .column--70:nth-child(2) {
        font-size: 1em;
    }
    
    .main__about__description .column--70:nth-child(2) .column__txt {
        line-height: 50px;
        text-align:justify;
    }

    .column--50-25 {
        width: 24.9%;
    }
    
    .column__title {
        font-size: 1em;
    }
    
    .group__title, .group__title-o {
        font-size: 2.2em;
    }
    
    .main__about__description .column:nth-child(1) img {
        width: 100%;
        height: 350px;
        object-fit: contain; /*para que la imagen no se deforme*/
    }
    
    .info-img {
        width: 50%;
    }
    
    .column--float{
        width: 25%;
    }
}

@media screen and (min-width:1024px) {
    
    .container {
        width: 1004px;
    }
    
    .imglogo {
        width: 45%;
    }
    
    .logo {
        font-size: 2em;
        padding: 0;
    }
    
    .main-header__contactInfo__phone, .main-header__contactInfo__addres {
        padding-right: 0.3em;
        font-size: 1em;
    }
    
    .main-nav {
        padding: 0;
    }
    
    .banner__content {
        font-size: 1.8em
    }
    
    /*Para que el icono de menu se borre y se muestre bien el menu*/
        .icon-menu {
        display: none;
    }
    
    /*Para que el menu se muestre normal y no dsea desplegable desde el icono*/
    .menu {
        position: static;
        display: flex;
        height: 50px;;
        width: auto;
    }
    
    .menu__link {
        padding: 11px;
    }
    
    .group--color .container {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    
    .main__about__description .column--50:nth-child(2) .column__txt {
        line-height: 50px;
    }
    
    .title-img {
        font-size: 1.1em;
    }
    
    .column--33 {
      text-align: justify;
    }
    
    .column__txt {
        margin: 5px
    }
    .main__about__description .column:nth-child(1) img {
        height: 300px;
        object-fit: contain;
    }
    
    .info-img {
        width: 45%;
    }
    
    .column--float{
        width: 20%;
    }
    
    /*--------club------------*/
    
    .container--general {
        border-style: groove;
        border-color:rgba(240, 240, 178, 0.3);
        background: rgba(251, 191, 0, 0.1);
        margin: 5px;
    }
    
    .column--30-q {
        margin-top: 2px;
        border-style: none;
    }
    
    .column--70-q {
        background:none;
        border-style: none;
        margin-bottom: 2px;
    }
    
    .column--30-t {
        float: left;
        width: 26%;
    }
    
    .column--30-v {
        float: right;
        width: 73%;
        display:block;
    }
    
    .column--70-v {
       float: left;
        width: 26%;
    }
    
    .column--70-t {
        float: right;
        width: 73%;
        display:block;
    }
    
    .column--30-a {
        float: right;
        width: 26%; 
    }
    
    .column--30-n {
        float: left;
        width: 73%;
        display:block;
    }
    
    .column--70-k {
        float: left;
        width: 73%;
        display:block;
    }
    
    .column--70-n {
        float: right;
        width: 26%;
    } 
}

@media screen and (min-width:1500px) {
    .container {
        width: 1400px;
    }
    
    .imglogo {
        width: 32%;
    }
    
    .social-icon { /* ubicacion de los iconos de las redes sociales*/
        display: flex;
    }
    
    .main__about__description .column:nth-child(1) img {
        width: 100%;
        height: 250px;
        object-fit: contain;
    }
    
    .img-titulos {
        height: 250px;
    }
    
    .info-img {
        width: 35%;
    }
    
    .column--float {
        width: 15%
    }
    
}



















